//===============================================================================
// GLOBAL-VARIABLES
//===============================================================================
// COLOURS
$paper: white;
$ink: #31343A;

$brand: #F7D64D;

// DIMENSIONS